<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Dashboard | Doctor</title>
     <link rel="stylesheet" type="text/css" href="css/reset.css" media="screen" />
   <link rel="stylesheet" type="text/css" href="css/text.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/grid.css" media="screen" /> 
    <link rel="stylesheet" type="text/css" href="css/layout.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="css/nav.css" media="screen" /> 
</head>
<body>
<div class="container_12">
    <!-- Header pic -->
    <div class="grid_12 header-repeat">
            <div id="branding">
                <!-- logo pic -->
                <div class="floatleft">
                    <img src="log.jpg" alt="Logo" height="45px" />
                </div>
                <div class="floatright">
                    <!-- profile pic -->
                    <div class="floatleft">
                        <img src="img/img-profile.jpg" alt="Profile Pic" />
                    </div>
                    <!-- logout -->
                    <div class="floatleft marginleft10">
                        <ul class="inline-ul floatleft">
                            <li>Hello Dr</li>
                            <li><a href="#">Config</a></li>
                            <li><a href="#">Logout</a></li>
                        </ul>
                        <br />
                        <span class="small grey">Date : 12/12/2015</span>
                    </div>
                </div>
                <div class="clear">
                </div>
            </div>
    </div>
    <div class="clear">
    </div>
    <!-- /////////////////////////////////////////////////////////////////////////////// -->
    <div class="grid_12">
            <!-- Navigation Bar -->
            <ul class="nav main">
                <li class="ic-timeline"><a href="#"><span>Timeline</span></a></li>
                <li class="ic-dashboard"><a href="Dashboardlist2.html"><span>Dashboard</span></a> </li>
                <li class="ic-message"><a href="drmessages.html"><span>Message</span></a><span class="number">2
                </span>
                    <ul>
                        <li><a href="drmessages.html">Open</a> </li>
                        <li><a href="newmessage.html"> New Message</a></li>
                    </ul>
                </li>
                <li class="ic-notifications"><a href="drnotifications.html"><span>Notifications</span></a>
                <span class="number">4</span>
                    <ul>
                        <li><a href="#">Timeline</a></li>
                        <li><a href="#">Reminder</a></li>
                        <li><a href="#">Activity Log</a></li>
                    </ul>
                </li>
                <li class="ic-form-style"><a href="#"><span>Blank Space</span></a></li>
            </ul>
    </div>
    <div class="clear">
    </div>
    <!-- //////////////////////////////////////////////////////////////////////////////// -->
    <div class="grid_2">
            <div class="box sidemenu">
                <div class="block" id="section-menu">
                    <ul class="section menu one">
                        <li><a class="menuitem">Appointment</a>
                            <ul class="submenu">
                                <li><a href="#">View</a> </li>
                                <li><a href="#">Edit</a> </li>
                            </ul>
                        </li>
                        <li><a class="menuitem">Patients</a>
                            <ul class="submenu">
                                <li><a href="drpatient.html">View</a> </li>
                            </ul>
                        </li>
                        <li><a class="menuitem">Search</a>
                            <form action="#">
                                <ul class="submenu">
                                    <br>
                                    <div class="block">
                                        <li><input class="submenu" id="qsearch" type="text" name="qsearch" 
                                            placeholder="Search..." width="20px" /></li><br>
                                        <li><center><input class="submenu" value="Search" type="submit" 
                                            name="searchsubmit"/></center></li>
                                    </div>
                                </ul>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////// -->
    <div class="grid_5">
        <div class="box round first grid">
            <h2>ID : </h2>
            <div class="block">
                <ul style="circle">
                    <li>Test due 17/12</li>
                    <li>radiation due 17/12</li>
                    <li>Surgery due 1/1/2016</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid_5">
        <div class="box round first grid">
                <h2>ID : </h2>
            <div class="block">
                <ul style="circle">
                    <li>Blood Test due 15/12</li>
                    <li>Test due 17/12</li>
                    <li>radiation due 17/12</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="grid_5">
        <div class="box round first grid">
                <h2>ID : </h2>
            <div class="block">
                <ul style="circle">
                    <li>Test due 17/12</li>
                    <li>Surgery due 19/12</li>
                    <li>Surgery due 20/1/2016</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear">
    </div>
</div>
<!-- Footer -->
<div class="clear">
</div>
<div id="site_info">
    <p>
        Copyright <a href="#">Bahya Hospital</a>. All Rights Reserved.
    </p>
</div>
</body>
</html>